#qr {
    // Make captcha container's width responsive
    .captcha-root {
        .captcha-container {
            width: 100% !important; // overrides inline styling
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    // Remove hardcoded spacing in favor of flex spacing
    #t-load, #t-solve {
        width: auto !important; // overrides inline styling
        margin: 0 !important; // overrides inline styling
    }

    // Collapse height to 0 when there's no captcha
    #t-cnt {
        height: auto !important;

        // Remove spacing container when there's no captcha
        &:not(:has(#t-fg[style*="image"])) {
            margin-top: 0 !important;
        }
    }

    // Increase #t-cnt height back to 80px when captcha is up
    #t-fg[style*="image"] {
        position: relative !important;
        height: var(--captcha-height, 80px) !important;
    }

    // Hide slider when it's not used
    #t-slider[style*="hidden"] {
        display: none;
    }

    // Prevent overlapping of the message on other elements
    #t-msg:not(:empty) {
        position: static !important;
    }
}