// Move quick reply inside sidebar
#qr {
    top: calc(
        var(--header-height) + 
        var(--banner-height) + 
        var(--board-title-offset)
    ) !important;
    left: 0 !important;
    width: var(--sidebar-width);
    margin-top: 10px;
    border: 0;
    border-top: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: var(--xt-border);
    border-radius: 0;
    box-sizing: border-box;
    box-shadow: none;

    &>form {
        display: flex !important; // overrides inline styling
        flex-direction: column;

        // Makes inner containers scale down instead of overflowing
        overflow: visible;

        // Place /pol/ and /f/ dropdown menus above .persona
        &>select {
            order: -1;
        }

        // Make textarea field fit its container
        .textarea {
            textarea.field {  
                min-width: auto;
                flex: 1;

                // Prevent horizontal resizing
                resize: vertical;
            }
        }
    }

    // Hide auto-hide checkbox and close button
    .move {
        &>*:not(select) {
            display: none;
        }

        &>select {
            width: 100%;
        }
    }
}