@use "./mascot";

body {
    margin-left: var(--sidebar-width);

    &.is_index .board::before,
    &.is_thread .thread>.opContainer::before {
        content: '';
        position: fixed;
        top: var(--header-height);
        left: 0;
        display: block;
        width: var(--sidebar-width);
        height: calc(100vh - var(--header-height));
        border-right: 1px solid var(--xt-border);
        z-index: -1;
    }

    // Move board banner and title inside sidebar
    & > div.boardBanner {
        position: fixed;
        top: var(--header-height);
        left: 0;
        width: var(--sidebar-width);

        div.boardTitle {
            font-size: 2em;
        }
    }

    // Fit banner container inside sidebar
    #bannerCnt {
        width: 100%;
        margin-top: 0;
        border: 0;
        border-bottom: 1px solid;
        border-color: var(--xt-border);
    }
}